<% content_for :title, "Editing param" %>

<h1>Editing param</h1>

<%= render "form", param: @param %>

<br>

<div>
  <%= link_to "Show this param", @param %> |
  <%= link_to "Back to params", params_path %>
</div>
