<p style="color: green"><%= notice %></p>

<% content_for :title, "Params" %>

<h1>Params</h1>

<div id="params">
  <% @params.each do |param| %>
    <%= render param %>
    <p>
      <%= link_to "Show this param", param %>
    </p>
  <% end %>
</div>

<%= link_to "New param", new_param_path %>
