<p style="color: green"><%= notice %></p>

<% content_for :title, "Currencies" %>

<h1>Currencies</h1>

<div id="currencies">
  <% @currencies.each do |currency| %>
    <%= render currency %>
    <p>
      <%= link_to "Show this currency", currency %>
    </p>
  <% end %>
</div>

<%= link_to "New currency", new_currency_path %>
