<p style="color: green"><%= notice %></p>

<%= render @client %>

<div>
  <%= link_to "Back to clients", clients_path(:page => params[:page].present? ? params[:page] : nil) %>

  <%= button_to "Destroy this client", @client, method: :delete %>
</div>
