<div id="<%= dom_id taxrule %>">
  <p>
    <strong>Name:</strong>
    <%= taxrule.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= taxrule.code %>
  </p>

  <p>
    <strong>Value rule:</strong>
    <%= taxrule.value_rule %>
  </p>

</div>
