<% content_for :title, "Editing taxrule" %>

<h1>Editing taxrule</h1>

<%= render "form", taxrule: @taxrule %>

<br>

<div>
  <%= link_to "Show this taxrule", @taxrule %> |
  <%= link_to "Back to taxrules", taxrules_path %>
</div>
