<div id="<%= dom_id country %>">
  <p>
    <strong>Name:</strong>
    <%= country.name %>
  </p>

  <p>
    <strong>Iso code:</strong>
    <%= country.iso_code %>
  </p>

  <p>
    <strong>Region code:</strong>
    <%= country.region_code %>
  </p>

</div>
