<div id="<%= dom_id brand %>">
  <p>
    <strong>Name:</strong>
    <%= brand.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= brand.country_id %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= brand.code %>
  </p>

</div>
