<% content_for :title, "New unit measure" %>

<h1>New unit measure</h1>

<%= render "form", unit_measure: @unit_measure %>

<br>

<div>
  <%= link_to "Back to unit measures", unit_measures_path %>
</div>
